/* Import utils variables */
@import "../utils/variables";
/* Import mixins */
@import "../utils/mixins";
@import "../utils/maps";

/* Design footer */
.footer {
    @include footer;
    /* Responsive tablet */
    @include tablet-only {
        text-align: center;
    }
    /* End responsive tablet */

    section {
        /* Responsive desktop */
        @include desktop-only {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: auto;
        }
        /* End responsive desktop */
    }


    &__logo {
        font-family: $title;
    }

    &__nav ul {
        list-style: none;
        padding-left: 0;
        /* Responsive tablet */
        @include tablet-only {
            display: flex;
            justify-content: space-between;
        }
        /* End responsive tablet */

        li:first-child a i {
            margin: map-get($map: $margin, $key: mr-md);
        }

        li:nth-child(2) a i {
            margin: map-get($map: $margin, $key: mr-sm );
        }

        a {
            color: white;
            line-height: map-get($map: $line-height, $key: md);
        }
    }

    &__nav {
        /* Responsive desktop */
        @include desktop-only {
        width: 78%;
        }
        /* End responsive desktop */
    }
}