@import "../utils/variables";

.menu {
    background-color: $bg-primary;

    &__content {
        position: relative;
        top: -75px;
        border-radius: $border-radius-menu;
        background-color: $bg-primary;
    }

    /* Center button */
    &__btn{
        text-align: center;
    }

    &__heading {
        padding: $padding-t;
        @include flex;
        align-items: baseline;

        h1 {
            margin-bottom: 0;
        }

        i {
            font-size: 1.65rem;
        }
    }
}