/* Import utils variables */
@import "../utils/variables";
/* Import mixins */
@import "../utils/mixins";
@import "../utils/maps";

/* Design footer */
.footer {
    @include footer;

    &__logo {
        font-family: $title;
    }

    &__nav ul {
        list-style: none;
        padding-left: 0;

        li:first-child a i {
            margin: map-get($map: $margin, $key: mr-md);
        }

        li:nth-child(2) a i {
            margin: map-get($map: $margin, $key: mr-sm );
        }

        a {
            color: white;
            line-height: map-get($map: $line-height, $key: md);
        }
    }
}