/*** Utils ***/
@import "../utils/maps";
@import "../utils/mixins";
/* Base */
@import "../base/template";

.process {
    /* Responsive Design for the tablet center text in the process card*/
    @include tablet-only {
        text-align: center;
    /* End Responsive Design for the tablet */
    }

    /* Responsive Design for the desktop*/
    @include desktop-only {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        h1 {
            width: 100%;
        }
    /* End Responsive Design for the desktop */
    }
}


.process__step {
    background-color: darken($bg-primary, 1%);
    @include design-card;

    /* Responsive Design for the desktop*/
    @include desktop-only {
       padding: $padding-md;
    /* End Responsive Design for the tablet */
    }
    
    h2.process-1::before {
        content: '1';
        @include before-process;
    }

    h2.process-2::before {
        content: '2';
        @include before-process;
    }

    h2.process-3::before {
        content: '3';
        @include before-process;
    }

    &--icon {
        margin: map-get(
            $map: $margin, $key: mr-md,
            );
    }

    &--purple {
        background-color: rgba($color-primary-lighten, 0.3);

        &--icon {
            color: $color-primary;
            margin: map-get(
            $map: $margin, $key: mr-md,
            );
        }
    }
}