@import "../utils/mixins";

.restaurant {
    /* Responsive Design for the tablet center text in the process card*/
    @include tablet-only {
        display: flex;
        flex-wrap: wrap;

        h2 {
            width: 100%;
            text-align: center;
        }

        article {
            @include tablet-only {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
        }
    }

    &__link {
        @include tablet-only {
            width: 45%;
            margin: auto;
        };
    }
    /* End Responsive Design fot the tablet */
}


.restaurant__card {
    object-fit: contain;
    box-shadow: $box-shadow;
    margin: map-get($map: $margin, $key: mtb-xl);
    border-radius: $border-radius;
    color: $black;
    position: relative;

    &:hover {
        @include shadow;
    }

    p {
        margin: 0;
    }

    p img {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }

    &--legend {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $padding-md;

        h2, h3 {
            margin: 0;
        }

        i {
            font-size: 25px;
        }
    }
}

/* Design green rectangle */
.restaurant__img-new {
    strong {
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 5px;
        background-color: #99e2d0;
        color: #008766;
        padding: 7.5px 20px;
    }
}