.menu__parts {

    a {
        color: black;
    }

    h2, h3 {
        margin: 0;
    }

    /* Responsive Design for the desktop */
    @include desktop-only {
        width: 30%;
    }
    /* End Responsive Design for the desktop */

    .app__price--strong {
        margin-bottom: 0;
    }

    &--btn {
        @include design-card ($padding: 15px 20px 15px 20px);
        @include flex;
        align-items: end;

        h2 {
            font-size: 1.05rem;
        }

        h3 {
            font-size: 0.85rem;
        }
    }

    &--suptitle {
        margin: map-get(
            $map: $margin, $key: mt-xxl,
            );
    };
}

/* Page menu responsive */
/* Responsive Design for the desktop */
.menu__block-parts {
    @include desktop-only {
        display: flex;
        justify-content: space-between;
    }
}

/* End Responsive Design for the desktop */