/*** Utils ***/
@import "../utils/maps";
@import "../utils/mixins";
/* Base */
@import "../base/template";

.process {
    /* Responsive Design for the tablet center text in the process card*/
    @include tablet-only {
        text-align: center;
    /* End Responsive Design for the tablet */
    }

    /* Responsive Design for the desktop */
    @include desktop-only {
        @include design-card-responsive;
    }
    /* End Responsive Design for the desktop */

    h2 {
        width: 100%;
    }
}


.process__step {
    background-color: darken($bg-primary, 1%);
    @include design-card;

    /* Responsive Design for the desktop*/
    @include desktop-only {
       padding: $padding-md;
    /* End Responsive Design for the tablet */
    }
    
    h3.process-1::before {
        content: '1';
        @include before-process;
        @include tablet-only {
            margin-right: 9.5px;
        }
    }

    h3.process-2::before {
        content: '2';
        @include before-process;
        @include tablet-only {
            margin-right: 19px;
        }
    }

    h3.process-3::before {
        content: '3';
        @include before-process;
        @include tablet-only {
            margin-right: 10.5px;
        }
    }

    &--icon {
        margin: map-get(
            $map: $margin, $key: mr-md,
            );
    }
}

.process__step:hover {
    background-color: rgba($color-primary-lighten, 0.3);
    cursor: pointer;

    .process__step--icon {
        color: $color-primary;
    }
}