/*** Utils ***/
@import "../utils/mixins";

/* Create Sizing text */
body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
}

/* Design link */
a {
    text-decoration: none;
}

/* Titles */
.app__heading {
    font-weight: bold;
    &--xl {
        font-size: 1.75rem;

        &.app__heading--italic {
            font-family: $title;
        }
    }

    &--lg {
        font-size: 1.25rem;
    }

    &--md {
        font-weight: $font-weight-lighter;
    }
}

/* Intro home */
.app__heading-intro {
    font-size: 1.5rem;
    font-weight: $font-weight-lighter;
}

/* Font-style for startes, main course and dessert */
.menu__parts--suptitle {
    text-transform: uppercase;
    font-weight: $font-weight-lighter;

    &:after {
        content: '';
        display: block;
        margin-top: 5px;
        height: 4px;
        width: 60px;
        background-color: $color-tiers;
    }
}