/* Create Sizing text */
body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* Design link */
a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* Titles */
.app__heading {
    font-weight: bold;
    &--xl {
        font-size: 2.5rem;

        &.app__heading--italic {
            font-family: "Shrikhand", cursive;
        }
    }

    &--lg {
        font-size: 1.5rem;
    }

    &--md {
        font-weight: lighter;
    }
}

/* Intro home */
.app__heading-intro {
    font-size: 1.5rem;
}

/* Font-style for startes, main course and dessert */
.menu__parts--suptitle {
    text-transform: uppercase;

    &:after {
        content: '';
        display: block;
        margin-top: 5px;
        height: 4px;
        width: 3%;
        background-color: $color-tiers;
    }
}