/*** Utils ***/
@import "../utils/variables";

.box-sizing {
    box-sizing: border-box;
    padding: 0 30px;
}

/* List padding top & bottom */
$padding-tb: 15px 0 15px 0;
$padding-tb-lg: 30px 0 30px 0;

/* Border-radius */
$border-radius: 20px; 