/*** Utils ***/
/* Import color and others variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Import mixins */
/*** Utils ***/
/* Variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Create button */
/* Design button site */
/* Design card process & card menu element */
/* Design card process & card menu element */
/*** Breakpoints Mixins ***/
/*** Base ***/
/* Import font-size and font-style*/
/*** Utils ***/
/*** Utils ***/
/* Variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Create button */
/* Design button site */
/* Design card process & card menu element */
/* Design card process & card menu element */
/*** Breakpoints Mixins ***/
/* Create Sizing text */
body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
}

/* Design link */
a {
  text-decoration: none;
}

/* Titles */
.app__heading {
  font-weight: bold;
}
.app__heading--xl {
  font-size: 1.65rem;
}
.app__heading--xl.app__heading--italic {
  font-family: "Shrikhand", cursive;
}
.app__heading--lg {
  font-size: 1.25rem;
}
.app__heading--md {
  font-weight: 200;
}

/* Intro home */
.app__heading-intro {
  font-size: 1.5rem;
  font-weight: 200;
}

/* Font-style for startes, main course and dessert */
.menu__parts--suptitle {
  text-transform: uppercase;
  font-weight: 200;
}
.menu__parts--suptitle:after {
  content: "";
  display: block;
  margin-top: 5px;
  height: 4px;
  width: 60px;
  background-color: #99E2D0;
}

/*** Utils ***/
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
.box-sizing {
  box-sizing: border-box;
  padding: 0 30px;
}

.padding__tb--xl {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* List padding top & bottom */
/* Border-radius */
/*** Components ***/
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/*** Utils ***/
/* Variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Create button */
/* Design button site */
/* Design card process & card menu element */
/* Design card process & card menu element */
/*** Breakpoints Mixins ***/
/* Breakpoints */
/*** Utils ***/
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
.box-sizing {
  box-sizing: border-box;
  padding: 0 30px;
}

.padding__tb--xl {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* List padding top & bottom */
/* Border-radius */
/* Design button site */
.app__button--xl {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  box-shadow: 0 5px 5px 5px #cccccc;
  font-size: 1.15rem;
  padding: 20px 35px;
  border-radius: 50px;
  line-height: 100px;
}
.app__button--xl:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 0 5px 5px 5px #b3b3b3;
}

/*** Utils ***/
/* Breakpoints */
/*** Utils ***/
/* Variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Create button */
/* Design button site */
/* Design card process & card menu element */
/* Design card process & card menu element */
/*** Breakpoints Mixins ***/
/* Base */
/*** Utils ***/
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
.box-sizing {
  box-sizing: border-box;
  padding: 0 30px;
}

.padding__tb--xl {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* List padding top & bottom */
/* Border-radius */
.process {
  /* Responsive Design for the tablet center text in the process card*/
  /* Responsive Design for the desktop */
  /* End Responsive Design for the desktop */
}
@media screen and (min-width: 810px) {
  .process {
    text-align: center;
    /* End Responsive Design for the tablet */
  }
}
@media screen and (min-width: 1100px) {
  .process {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.process h1 {
  width: 100%;
}

.process__step {
  background-color: #f3f3f3;
  border-radius: 20px;
  box-shadow: 0 5px 5px 5px #cccccc;
  padding: 15px 0 15px 0;
  margin: 30px 0;
  /* Responsive Design for the desktop*/
}
@media screen and (min-width: 1100px) {
  .process__step {
    padding: 15px;
    /* End Responsive Design for the tablet */
  }
}
.process__step h2.process-1::before {
  content: "1";
  display: inline-block;
  position: relative;
  left: -4%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 18px;
  background-color: #9356DC;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}
.process__step h2.process-2::before {
  content: "2";
  display: inline-block;
  position: relative;
  left: -4%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 18px;
  background-color: #9356DC;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}
.process__step h2.process-3::before {
  content: "3";
  display: inline-block;
  position: relative;
  left: -4%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 18px;
  background-color: #9356DC;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
}
.process__step--icon {
  margin: 0 7.5px 0 0;
}
.process__step--purple {
  background-color: rgba(174, 128, 229, 0.3);
}
.process__step--purple--icon {
  color: #9356DC;
  margin: 0 7.5px 0 0;
}

/*** Utils ***/
/* Variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Create button */
/* Design button site */
/* Design card process & card menu element */
/* Design card process & card menu element */
/*** Breakpoints Mixins ***/
.restaurant {
  /* Responsive Design for the tablet center text in the process card*/
  /* End Responsive Design fot the tablet */
}
@media screen and (min-width: 810px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurant h1 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 810px) and (min-width: 810px) {
  .restaurant article {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
@media screen and (min-width: 810px) {
  .restaurant__link {
    width: 45%;
    margin: auto;
  }
}

.restaurant__card {
  object-fit: contain;
  box-shadow: 0 5px 5px 5px #cccccc;
  margin: 30px 0;
  border-radius: 20px;
  color: #000;
  position: relative;
}
.restaurant__card:hover {
  box-shadow: 0 5px 5px 5px #b3b3b3;
}
.restaurant__card p {
  margin: 0;
}
.restaurant__card p img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant__card--legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.restaurant__card--legend h2, .restaurant__card--legend h3 {
  margin: 0;
}
.restaurant__card--legend i {
  font-size: 25px;
}

/* Design green rectangle */
.restaurant__img-new strong {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: #99e2d0;
  color: #008766;
  padding: 7.5px 20px;
}

.menu__parts {
  /* Responsive Design for the desktop */
  /* End Responsive Design for the desktop */
}
.menu__parts a {
  color: black;
}
.menu__parts h2, .menu__parts h3 {
  margin: 0;
}
@media screen and (min-width: 1100px) {
  .menu__parts {
    width: 30%;
  }
}
.menu__parts .app__price--strong {
  margin-bottom: 0;
}
.menu__parts--btn {
  border-radius: 20px;
  box-shadow: 0 5px 5px 5px #cccccc;
  padding: 15px 20px 15px 20px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: end;
}
.menu__parts--btn h2 {
  font-size: 1.05rem;
}
.menu__parts--btn h3 {
  font-size: 0.85rem;
}
.menu__parts--suptitle {
  margin: 60px 0 0 0;
}

/* Page menu responsive */
/* Responsive Design for the desktop */
@media screen and (min-width: 1100px) {
  .menu__block-parts {
    display: flex;
    justify-content: space-between;
  }
}

/* End Responsive Design for the desktop */
/*** Layout ***/
/*** Utils ***/
/* Import color and others variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/*** Utils ***/
/* Variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Create button */
/* Design button site */
/* Design card process & card menu element */
/* Design card process & card menu element */
/*** Breakpoints Mixins ***/
.header {
  text-align: center;
  padding: 15px 0 15px 0;
  position: relative;
  z-index: 2;
  /* Sizing logo */
  /* Header with arrow */
}
.header--logo {
  width: 200px;
}
.header__element {
  display: flex;
  align-items: center;
}
.header__element p {
  width: 100%;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 5px 5px 5px #cccccc;
  z-index: -1;
}

/* Import utils variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Import mixins */
/*** Utils ***/
/* Variables */
/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Create button */
/* Design button site */
/* Design card process & card menu element */
/* Design card process & card menu element */
/*** Breakpoints Mixins ***/
/* Breakpoints */
/* Design footer */
.footer {
  color: #fff;
  background-color: #353535;
  padding: 25px 0 25px 0;
  /* Responsive tablet */
  /* End responsive tablet */
}
@media screen and (min-width: 810px) {
  .footer {
    text-align: center;
  }
}
.footer section {
  /* Responsive desktop */
  /* End responsive desktop */
}
@media screen and (min-width: 1100px) {
  .footer section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
}
.footer__nav ul {
  list-style: none;
  padding-left: 0;
  /* Responsive tablet */
  /* End responsive tablet */
}
@media screen and (min-width: 810px) {
  .footer__nav ul {
    display: flex;
    justify-content: space-between;
  }
}
.footer__nav ul li:first-child a i {
  margin: 0 7.5px 0 0;
}
.footer__nav ul li:nth-child(2) a i {
  margin: 0 3.5px 0 0;
}
.footer__nav ul a {
  color: white;
  line-height: 25px;
}
.footer__nav {
  /* Responsive desktop */
  /* End responsive desktop */
}
@media screen and (min-width: 1100px) {
  .footer__nav {
    width: 78%;
  }
}

/*** Pages ***/
/* Breakpoints */
/* input home */
.search form {
  background-color: #eeeeee;
  text-align: center;
}
.search__input {
  line-height: 25px;
  margin: 0 0 0 15px;
  border: 0;
  background-color: #eeeeee;
  padding: 15px 0 15px 0;
}
.search__input::placeholder {
  font-weight: bold;
}

/* Hero home */
.hero {
  text-align: center;
  background-color: #F6F6F6;
}

/* Padding top and bottom title section process */
.process h1 {
  padding: 0 0 15px 0;
}

/* Background section 4 restaurants*/
.restaurant {
  background-color: #F6F6F6;
}
.restaurant h1 {
  padding: 0 0 15px 0;
}

/* Create the principals design colors*/
/* Title */
/* List box-shadow */
/* Replace one image by another image with a better quality for tablet and desktop*/
.hero__restaurant img {
  width: 100%;
}
@media screen and (min-width: 810px) {
  .hero__restaurant-img {
    display: none;
  }
}
.hero__restaurant-img--lg {
  display: none;
}
@media screen and (min-width: 810px) {
  .hero__restaurant-img--lg {
    display: block;
  }
}

.menu {
  background-color: #F6F6F6;
  /* Center button */
}
.menu__content {
  position: relative;
  top: -75px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
}
.menu__btn {
  text-align: center;
}
.menu__heading {
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}
.menu__heading h1 {
  margin-bottom: 0;
}
.menu__heading i {
  font-size: 1.65rem;
}

/*# sourceMappingURL=style.css.map */
