@import "../utils/maps";
/* input home */
.search {

    form {
        background-color: darken($bg-primary, 3%);
        text-align: center;
    }

    &__input {
    line-height: map-get($map: $line-height, $key:md );
    text-align: center;
    border: 0;
    background-color: darken($bg-primary, 3%);
    padding: $padding-tb;

        &::placeholder {
            font-weight: bold;
        }
    }
}

/* Hero home */
.hero {
    text-align: center;
    background-color: $bg-primary;
}

/* Padding top and bottom title section process */
.process {
    h2 {
        padding: $padding-b;
    }
}
/* Background section 4 restaurants*/
.restaurant {
    background-color: $bg-primary;

    h2 {
        padding: $padding-b;
    }
}

