@import "../utils/variables";

/* Replace one image by another image with a better quality for tablet and desktop*/
.hero__restaurant {

    img {
        width: 100%;
    }

    &-img {
        @include tablet-only {
            display: none;
        }
    }

    &-img--lg {
        display: none;
        @include tablet-only {
            display: block;
        }
    }
}

.menu {
    background-color: $bg-primary;

    &__content {
        position: relative;
        top: -75px;
        border-radius: $border-radius-menu;
        background-color: $bg-primary;
    }

    /* Center button */
    &__btn{
        text-align: center;
    }

    &__heading {
        padding: $padding-t;
        @include flex;
        align-items: baseline;

        h1 {
            margin-bottom: 0;
        }

        i {
            font-size: 1.65rem;
        }
    }
}