/*** Utils ***/
/* Variables */
@import "../utils/variables";

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin footer {
    color: $white;
    background-color: #353535;
    padding: 25px 0 25px 0;
}

/* Create button */
/* Design button site */
@mixin btn-xl {
    background: $color-btn;
    color: $white;
    box-shadow: $box-shadow;
    font-size: 1.15rem;
    padding: 20px 35px;
    border-radius: 50px;
}

@mixin before-process {
    display: inline-block;
    position: relative;
    left: -4%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    font-size: 18px;
    background-color: $color-primary;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
}

@mixin shadow($size: $size-shadow, $shadow: $color-shadow) {
    box-shadow: $size darken($shadow, 10%);
}

/* Design card process & card menu element */
@mixin design-card ($padding: $padding-tb){
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: $padding;
    margin: map-get(
        $map: $margin, $key: mtb-xl 
    );
}

/* Design card process & card menu element */
@mixin design-card-responsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}

/*** Breakpoints Mixins ***/
@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}