/* Create the principals design colors*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tiers: #99E2D0;

/* List padding top & bottom */
$padding-tb: 15px 0 15px 0;

/* List box-shadow */
$box-shadow-header: 5px 5px 15px 0px rgba(0,0,0,0.10);